<div class="col-lg-6 mt-1">
    <h1>{{page_title}}</h1>
    <hr />

    <ul class="list-group list-users">
        <li class="list-group-item" *ngFor="let user of users">
            <!--imagen
            <div class="avatar_mask_list float-left mr-3" *ngIf="user.image">
                <img src="{{ url + 'avatar/' + user.image }}" />
            </div>-->
            <div class="avatar_mask_list float-left mr-3" *ngIf="!user.image">
                <img src="/assets/images/user-profile.png" />
            </div>
            <h5>
                {{user.name + ' ' + user.surname}}
            </h5>
            <a [routerLink]="['/perfil', user._id]" class="btn btn-sm btn-success 
            float-right mx-auto d-block">Ver Perfil</a>
            <!--class="float-left"-->
        </li>
    </ul>

    <div class="clearfix"></div>

</div>