<div class="col-lg-10">
    <h3>{{ page_title }}</h3>
    <hr />

    <!-- MENSAJE DE ALERTA SUCCESS-->
    <div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
        El Tema se ha creado correctamente.
    </div>
    <!-- MENSAJE DE ALERTA ERROR-->
    <div class="alert alert-danger col-md-5 mt-3" *ngIf="status == 'error'">
        El Tema no se ha creado correctamente.
    </div>

    <form #addTopic="ngForm" (ngSubmit)="onSubmit(addTopic)">
        <!-- Nombres -->
        <div class="form-group">
            <label for="title">Titulo</label>
            <input type="text" name="title" #title="ngModel" [(ngModel)]="topic.title" required class="form-control" />

            <small *ngIf="!title.valid && title.touched" class="invalid-feedback d-block">
                El título no es válido
            </small>
        </div>
        <!-- Contenido -->
        <div class="form-group">
            <label for="content">Pon tu Pregunta o Contenido</label>
            <textarea name="content" #content="ngModel" [(ngModel)]="topic.content" required
                class="form-control"></textarea>

            <small *ngIf="!content.valid && content.touched" class="invalid-feedback d-block">
                El contenido no es válido
            </small>
        </div>
        <!-- Código -->
        <div class="form-group">
            <label for="code">Pon tu código</label>
            <textarea name="code" #code="ngModel" [(ngModel)]="topic.code" class="form-control"></textarea>

            <small *ngIf="!code.valid && code.touched" class="invalid-feedback d-block">
                El código no es válido
            </small>
        </div>
        <!-- Lenguajes -->
        <div class="form-group">
            <label for="lang">¿Sobre qué lenguaje hablas?</label>
            <input type="text" name="lang" #lang="ngModel" [(ngModel)]="topic.lang" required class="form-control" />

            <small *ngIf="!lang.valid && lang.touched" class="invalid-feedback d-block">
                El lenguaje no es válido
            </small>
        </div>

        <input type="submit" value="{{page_title}}" class="btn btn-success" [disabled]="
        addTopic.invalid" />

    </form>

</div>